@model BuildRoom.Models.Room

@{
    ViewData["Title"] = "Adventuer";
}

<h2>Adventurers</h2>

<p>Create Adventurers</p>
<p>Entering @Model.RoomName</p>
<p>Room Id = @Model.RoomId</p>
<p>@Model.Adventurers[0].CharName attacks: @Model.Adventurers[0].SwordStrike()</p>